  /*============================================================


	Theme Name: web123-child
	Theme URI: http://www.web123.com.au
	Author: http://www.web123.com.au
	Author URI:
	Version: 1.0
	Description:
	Template: web123
	Text Domain: web123


============================================================*/


#qode-home > div.carousel-inner.relative_position > div > div.slider_content_wrapper > div > div{

  top: 350px;
  
<!-- transform: translateY(31vh)!important ; -->
}

@media screen and (max-width: 998px){
#qode-home > div.carousel-inner.relative_position > div > div.slider_content_wrapper > div > div{

  top: 190px!important;
}

}

.carousel .item .text .separator {
    margin-top: 8px;
    margin-bottom: 8px;
 }

.p { 
line-height: 1.5em;
padding-bottom: 15px;
}
.testimonials_c_holder .testimonial_content_inner {
    
    padding: 10px 45px!important;
    
}
.testimonials_c_holder .flex-control-nav {
    margin-top: 0px!important;
    
}


.slider_content h2, .slider_content p {

}

.carousel .item .text .separator {
    margin-top: 8px;
    margin-bottom: 8px;
 }

#qode-home > div.carousel-inner.relative_position > div > div.slider_content_wrapper > div > div > div > a{
border-color: #8dc63f;
background-color: #8dc63f;
text-decoration:none;
color; #fff;
}


#qode-home > div.carousel-inner.relative_position > div > div.slider_content_wrapper > div > div > div > a:hover{
border-color: #8dc63f;
background-color: #fff;
text-decoration:none;
color:#8dc63f!important;  
}

.blog_compound article .post_meta .three_columns>.column2 {
    text-align: left!important; 
}

.fa-navicon:before, .fa-reorder:before, .fa-bars:before {
    font-size: 24px!important;
}


.faux_pad{
display: none;
}

@media screen and (max-width: 1000px){
body > div.wrapper > div > div > div > div > div > div.vc_row.wpb_row.section.vc_row-fluid.vc_custom_1499166804839 > div > div:nth-child(1){
width: 100%!important;
}
.faux_pad{
display: block;
color: #fff;
}
.faux_pad:nth-child(2), .faux_pad:nth-child(2){
margin-top: 23px;
}
.faux_pad:first-child, .faux_pad:last-child{
margin-top: -9px;
}
}

.qode_pricing_list_item.clearfix {
	  padding: 5px 0 !important;
	  border-bottom: 0px;
	}

a#homefirstbuttonh.qbutton.small.center.default{
		margin: 35px 0px 0px 0px !important;
	  }

@media only screen  
  and (max-device-width: 1024px)  {
a#homefirstbuttonh.qbutton.small.center.default{
		margin: 11px 0px 0px 0px !important;
	  }
	}

@media only screen
	and (min-device-width: 320px)
	and (max-device-width: 768px){
.vc_col-sm-6 {
	  width: 100% !important;}
  }